#logo {
  margin-top: 5vh;
  width: 100%;
  height: 45vh;
  animation: fil 2s ease forwards 3.0s;
}

#logo path:nth-child(1){
  stroke-dasharray: 570.8489990234375;
  stroke-dashoffset: 570.8489990234375;
  animation: line-animate 2s ease forwards;
}

#logo path:nth-child(2){
  stroke-dasharray: 568.1929321289062;
  stroke-dashoffset: 568.1929321289062;
  animation: line-animate 2s ease forwards .5s;
}
#logo path:nth-child(3){
  stroke-dasharray: 596.2706298828125;
  stroke-dashoffset: 596.2706298828125;
  animation: line-animate 2s ease forwards 1s;
}
#logo path:nth-child(4){
  stroke-dasharray: 568.1934204101562;
  stroke-dashoffset: 568.1934204101562;
  animation: line-animate 2s ease forwards 1.2s;
}
#logo path:nth-child(5){
  stroke-dasharray: 407.2733154296875;
  stroke-dashoffset: 407.2733154296875;
  animation: line-animate 2s ease forwards 1.4s;
}
#logo path:nth-child(6){
  stroke-dasharray: 644.896728515625;
  stroke-dashoffset: 644.896728515625;
  animation: line-animate 2s ease forwards 1.6s;
}
#logo path:nth-child(7){
  stroke-dasharray: 885.84619140625;
  stroke-dashoffset: 885.84619140625;
  animation: line-animate 2s ease forwards 1.8s;
}
#logo path:nth-child(8){
  stroke-dasharray: 902.1256103515625;
  stroke-dashoffset: 902.1256103515625;
  animation: line-animate 2s ease forwards 2s;
}
#logo path:nth-child(9){
  stroke-dasharray: 644.9012451171875;
  stroke-dashoffset: 644.9012451171875;
  animation: line-animate 2s ease forwards 2.2s;
}
#logo path:nth-child(10){
  stroke-dasharray: 695.9232177734375;
  stroke-dashoffset: 695.9232177734375;
  animation: line-animate 2s ease forwards 2.4s;
}
#logo path:nth-child(11){
  stroke-dasharray: 558.1410522460938;
  stroke-dashoffset: 558.1410522460938;
  animation: line-animate 2s ease forwards 2.6s;
}
#logo path:nth-child(12){
  stroke-dasharray: 644.902099609375;
  stroke-dashoffset: 644.902099609375;
  animation: line-animate 2s ease forwards 2.8s;
}

@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fil {
  from{
    fill:transparent;
  }
  to {
    fill: black;
  }
}