/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #7B7B7B;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}